* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    
}

#header {
    height: 46.5px;
    background-color: #000;
}

#header #nav{
    display: inline-block;
}
#nav li {
    position: relative;
}

#header #nav li {
    display: inline-block;
}

#nav > li > a {
    text-transform: uppercase;

}

#nav li a{
    line-height: 46.5px;
    text-decoration: none;
    color: #fff;
    padding: 0 24px;
    display: inline-block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav a {
    color: #000;
    min-width: 160px;
    padding: 0 12px;
    line-height: 38.5px;
    
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .search-btn {
    float: right;

}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46.5px;
    padding: 0 21px;
}

#slider {
  
}

#content {
    
}

#footer {
    
}

